//- mono:
//- {
//-   datatime: 1615578883000,
//-   who: '6127f48dd770f515a0458394',
//-   whom: '6127f376d770f515a045835d',
//-   message: 'outwill microconidial sciarid',
//-   status: 'read',
//-   whoName: 'test',
//-   whomName: 'Aliza Obermoeller',
//-   whoImg: 'img/users/6127f48dd770f515a0458394.jpg',
//-   messageType: 'chat-list__item_sent'
//- }

//- group:
//- {
//-   datatime: 1628757600000,
//-   who: '6127f3a9d770f515a0458366',
//-   message: 'subtegulaneous endearance blithering unimpassionedness drona farmstead arsenate wickedish patient epoptes thereanent juvia basten sopition Foist overfear perivitelline ludicroserious swamp coset archilowe Fabroniaceae deglutitious magniloquence',
//-   status: 'read',
//-   whoName: 'Justa Marinucci',
//-   whoImg: '',
//-   messageType: 'chat-list__item_received'
//- }

-
  // console.log('from pug');
  // console.log('from pug: ', meta);
  // console.log('from pug: ', chat);
  // console.log('from pug: ', interlocutors);
  // console.log('from pug: ', chat[0].datatime);

  function getDateString(millisec) {
    let dateObj = new Date(+millisec),
        year    = dateObj.getUTCFullYear(),
        mon     = dateObj.getUTCMonth() + 1,
        day     = dateObj.getUTCDate();
    if (mon < 10) mon = '0' + mon;
    if (day < 10) day = '0' + day;

    let dateStr = year + '-' + mon + '-' + day;
    return dateStr
  }

  let modClass;
  if (meta == 'mono') {
    modClass = 'chat-list_mono'
  } else if (meta == 'group') {
    modClass = 'chat-list_group'
  }

  let mCount = -1;

ul.chat-list(class=modClass)

  if chat.length

    li.chat-list__item.chat-list__item_date #{getDateString(chat[0].datatime)}

    for message in chat

      -
        mCount = mCount + 1;
        let datetimeFlag = false;

        if (mCount > 0) {
          let d1 = +chat[mCount].datatime,
              d2 = +chat[mCount-1].datatime;
          if ( (d1 - d2) > 86400000 || new Date(d1).getUTCDate() != new Date(d2).getUTCDate() ) {
            datetimeFlag = true;
          }
        }

        let interlocutorID;
        if (meta == 'mono') {
          if (message.messageType == 'chat-list__item_received') {
            interlocutorID = interlocutors.contact
          } else if (message.messageType == 'chat-list__item_sent') {
            interlocutorID = interlocutors.user
          }
        } else {
          interlocutorID = message.who
        }

      if datetimeFlag
        li.chat-list__item.chat-list__item_date #{getDateString(message.datatime)}

      -
        datetimeFlag = false;

      li.chat-list__item(class=message.messageType data-id=interlocutorID)
        .logo
          p.logo__name #{message.whoName.slice(0,2).toUpperCase()}
          img.logo__img(src="" + message.whoImg + "")
        .chat-list__message
          .chat-list__message-text #{message.message}

          -
            let dateObj = new Date(+message.datatime),
                hh      = dateObj.getUTCHours(),
                mm      = dateObj.getUTCMinutes();
            if (hh < 10) hh = '0' + hh;
            if (mm < 10) mm = '0' + mm;

            let dateSrting = hh + ':' + mm;

          .chat-list__message-date #{dateSrting}

          -
            let modClass = '';
            if (message.status == 'read') {
              modClass = 'message-status_read'
            } else if (message.status == 'delivered') {
              modClass = 'message-status_delivered'
            }
          .message-status(class=modClass)
            i.ico &#x4e;
            i.ico &#x4e;

//- ul.chat-list.chat-list_mono
//-   li.chat-list__item.chat-list__item_date 12.12.2021, пт

//-   li.chat-list__item.chat-list__item_sent
//-   //- li.chat-list__item.chat-list__item_received(data-id="")
//-     .logo
//-       p.logo__name
//-       img.logo__img(src="../path/to/image")
//-     .chat-list__message
//-       .chat-list__message-text lorem ipsum
//-       .chat-list__message-date 12.34
//-       .message-status.message-status_read
//-       //- .message-status.message-status_delivered
//-         i.ico &#x4e;
//-         i.ico &#x4e;

//- ul.chat-list(class=".chat-list_" + meta + "")

//-   for message in chat
//-     //- let mod;
//-     //- if ( message.who == userID ) {
//-     //-   mod = 'chat-list__item_sent'
//-     //- }
//-     //- else {
//-     //-   mod = 'chat-list__item_received'
//-     //- }
//-     li.chat-list__item